.dashboardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1rem solid #f1f5f9;
      border-radius: 6.25rem;

      img {
        border-radius: 6.25rem;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 900;
    }

    span.username {
      color: #45556c;
      font-size: 0.875rem;
      margin-top: 1.5rem;
    }

    span.location {
      font-size: 0.875rem;
      font-weight: 500;
      color: #1d293d;
      margin-bottom: 1.5rem;
    }
  }
}
